<img ng-show="isDataLoading" class="center" src="/img/spinner.gif"/>

<div ng-show="!isDataLoading" class="view">
    <div class="team">
        <button class="btn btn-icon" ng-click="backToMainView()"><i class="fas fa-angle-left prev_btn fa-2x"></i></button>
        <h2 class="team_name"> {{ team.Name }}</h2>
        <button ng-click="editTeamPanel(team)" type="button" class="btn btn-icon btn-sm text-info" title="Edytuj drużynę"><i class="fas fa-edit"></i></button>
        <button ng-click="confirmDeleteTeam(team.Id)" type="button" class="btn btn-icon btn-sm text-danger" title="Usuń drużynę"><i class="fas fa-trash-alt"></i></button>
    </div>
    <hr/>
    <div>
        <i class="fas team_icon fa-users fa-10x"></i>
        <div class="team_details">
            <p><strong>Miasto: </strong>{{ team.City }}</p>
            <p><strong>Trener: </strong>{{ team.Coach }}</p>
            <p><strong>Stadion: </strong>{{ team.Stadium }}</p>
        </div>
    </div>
    <div class="players">
    <h3 class="title_with_add_btn">Zawodnicy</h3>
    <button ng-click="addPlayerPanel(team)" class="btn btn-icon add_btn" title="Dodaj zawodnika"><i class="fas fa-plus fa-lg"></i></button>
    <hr/>
        <div class="btn-group" style="margin-bottom: 25px">
            <button class="btn btn-light btn-sm" ng-model="typeSort" uib-btn-radio="'number'">Numer</button>
            <button class="btn btn-light btn-sm" ng-model="typeSort" uib-btn-radio="'position'">Pozycja</button>
        </div>
        <ul class="list-group">
            <li ng-repeat="player in team.Players" class="list-group-item" style="font-size: large">
                <i class="fas player_icon fa-user"></i>
                <strong style="margin: 0 5px">{{ player.Number }} </strong>
                <span>{{ player.FirstName }} {{ player.LastName }}</span>
                <button style="float: right" ng-click="confirmDeletePlayer(player.Id)" type="button" class="btn btn-icon btn-sm text-danger" title="Usuń zawodnika">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button style="float: right" ng-click="editPlayerPanel(player, team)" type="button" class="btn btn-icon btn-sm text-info" title="Edytuj zawodnika">
                    <i class="fas fa-edit"></i>
                </button>
                <span style="float: right;margin-right: 8px">{{ findPosition(player.Position) }}</span>
            </li>
        </ul>
    </div>
</div>