.prev_btn:hover {
    color: #222222;
}

.prev_btn {
    color: #888888;
    vertical-align: middle;
}

.team_name {
    display: inline;
    vertical-align: middle;
    padding: 10px;
}

.view {
    padding: 1em!important;
}

.team {
    padding: 8px;
}

.players {
    margin: 0 35px;
}

.team_icon {
    margin-left: 35px;
    color: cornflowerblue;
    float: left;
    vertical-align: middle;
}

.player_icon {
    color: cornflowerblue;
    margin-right: 4px;
}

.team_details {
    padding: 25px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title_with_add_btn {
    display: inline;
}

.add_btn {
    vertical-align: text-bottom;
    float: right;
}