.form-label {
    margin: 8px 0px;
}

.modal-body {
    padding: 0px 16px 16px 16px;
}

.form-group {
    margin-bottom: 0!important;
}

.info {
    font-style: italic;
    color: #999999;
}

.margin_info {
    text-align: center;
    display: block;
    margin-top: 8px;
}

