<div ng-show="!isDataLoading">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ isFormAdd ? 'Dodaj nowy mecz' : 'Edytuj mecz'}}</h5>
        <div ng-click="cancel()" class="close">
            <span>&times;</span>
        </div>
    </div>
    <form class="form-group" ng-submit="confirm()">
        <div class="modal-body" id="modal-body">
            <div>
                <label class="form-label" for="date">Data</label>
                <input class="form-control" type="datetime-local" ng-model="m.Date" id="date" required/>
            </div>

            <div>
                <label class="form-label" for="hostTeam">Drużyna gospodarza</label>
                <select not-equal-match-teams="m" ng-change="changeTeam()" class="form-control" ng-model="m.HostTeamId"
                        id="hostTeam" required
                        ng-options="i.Id as i.Name for i in teams">
                    <option value="" hidden disabled selected>Wybierz drużynę gospodarza</option>
                </select>
            </div>

            <div>
                <label class="form-label" for="guestTeam">Drużyna gości</label>
                <select not-equal-match-teams="m" class="form-control" ng-model="m.GuestTeamId" id="guestTeam" required
                        ng-options="i.Id as i.Name for i in teams">
                    <option value="" hidden disabled selected>Wybierz drużynę gości</option>
                </select>
            </div>

            <div ng-if="!isFormAdd" class="margin_info">
                <small class="info">Jeśli zmienisz drużynę, wydarzenia przypisane do starej drużyny zostaną usunięte!</small>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-light" type="button" ng-click="cancel()">Wróć</button>
            <button class="btn btn-info" type="submit">{{ isFormAdd ? 'Dodaj' : 'Edytuj'}}</button>
        </div>
    </form>
</div>

