thead {
    background: linear-gradient(#089dd7, #27b4e2);
    color: #fff;
}

table {
    animation: rotate-in .5s both;
}

.main_content {
    margin-top: 130px;
    margin-bottom: 70px;
}

.title_navbar {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh;
}

li.nav-item { padding: 0 1vw }

input:invalid {
    border: 1px solid red;
}

select:invalid {
    border: 1px solid red;
}

.btn.btn-icon {
    background-color: transparent;
    border-style: none;
    outline-style: none;
}

.btn.btn-icon:hover {
    background-color: #f2f2f2;
    transform: scale(1.15);
}
.btn:focus { box-shadow: none !important; }

.btn.add_btn { float: right }
.btn.add_btn:hover { color: rgb(0, 154, 213) }

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    color: #777;
    font-size: 14px;
}

@keyframes rotate-in {
    from {
        transform: rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }

    to {
        transform: rotate3d(0, 1, 0, 0);
        opacity: 1;
    }
}