<!DOCTYPE html>
<html lang="pl" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LOTTO Ekstraklasa</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://ekstraklasa.org/favicon.ico">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <h1>
            <a class="navbar-brand" href="#!/mainView">
                <img src="/img/logo.png" width="33" height="33" alt="Ekstraklasa">
                <span class="title_navbar">LOTTO Ekstraklasa</span>
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto float-right" ng-controller="MyAppCtrl">
                <li class="nav-item" ng-class="{ active: isActive('/mainView')}">
                    <a class="nav-link" href="#!/mainView">Tabela</a>
                </li>
                <li class="nav-item" ng-class="{ active: isActive('/matches')}">
                    <a class="nav-link" href="#!/matches">Mecze</a>
                </li>
                <li class="nav-item" ng-class="{ active: isActive('/ranking')}">
                    <a class="nav-link" href="#!/ranking">Ranking</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main_content container">
    <div ng-controller="MyAppCtrl" ng-show="alerts.length" style="margin-top: 5em">
        <div template-url="templates/alert.html" style="margin: 1em" dismiss-on-timeout="6000" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>

    <div ng-view></div>
</div>

<footer class="container-fluid text-center">
    &copy; 2018 Mateusz Chwaszczewski, Mateusz Randzio, Kamil Ulezło
</footer>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-css/angular-css.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="https://morgul.github.io/ui-bootstrap4/ui-bootstrap-tpls-3.0.3.min.js"></script>
<script src="app.js"></script>
<script src="views/mainView/mainView.js"></script>
<script src="views/ranking/ranking.js"></script>
<script src="views/detailsTeam/detailsTeam.js"></script>
<script src="components/leagueTable/leagueTable.js"></script>
<script src="components/scorersTable/scorersTable.js"></script>
<script src="components/confirmDelete/confirmDelete.js"></script>
<script src="components/formTeam/formTeam.js"></script>
<script src="views/matches/matches.js"></script>
<script src="components/formPlayer/formPlayer.js"></script>
<script src="components/formMatch/formMatch.js"></script>
<script src="components/formEvent/formEvent.js"></script>
<script src="components/redCardsTable/redCardsTable.js"></script>
<script src="components/yellowCardsTable/yellowCardsTable.js"></script>
<script src="directives/directives.js"></script>
<script src="filters/filters.js"></script>
<script src="factories/factories.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
