h3 {
    float: left;
    width: 50%;
    margin: 6px 0;
    font-size: 16px;
}

.card {
    box-shadow: 0 40px 20px -44px rgba(0, 0, 0, .4);
    animation: rotate-in .5s both;
}

.card-header {
    background: linear-gradient(#089dd7, #27b4e2);
    color: #fff;
}
.card-header .btn { color: #eee }
.card-header .btn-icon:hover { color: #089dd7 }
.card-header ul {
    float: right;
    width: 50%;
    margin: 0;
    list-style-type: none;
    text-align: right;
}
.card-header ul li { display: inline-block }
.card-header ul li:first-child {
    margin-right: .8vw;
    padding-right: .8vw;
    border-right: 1px solid #3bbce2;
}

.card .container { padding: 2vh 2vw }
.card .container .btn { color: #ccc }
.card .container .btn:hover { color: #333 }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title_with_add_btn {
    display: inline;
}

.center_bold_text {
    text-align: center;
    font-weight: bold;
}

.center_text {
    text-align: center;
}

.padding {
    padding: 10px;
}

.space {
    margin-bottom: 30px;
}