<img ng-show="isDataLoading" class="center" src="/img/spinner.gif"/>

<div ng-show="!isDataLoading">
    <div class="main_window">
        <h2 class="title_with_add_btn">Mecze</h2>
        <button ng-click="addMatchPanel()" class="btn btn-icon add_btn" title="Dodaj mecz"><i class="fas fa-plus fa-lg"></i></button>
        <hr/>
        <i ng-show="matches.length === 0">Brak zdefiniowanych meczy w lidze</i>
        <div ng-show="matches.length > 0" ng-repeat="match in matches | orderBy : '!Date'" class="card space">
            <div class="card-header small">
                <h3>{{ match.Date | date: 'd.MM.yyyy HH:mm' }} &nbsp; &bull; &nbsp; <em>{{ match.HostTeam.Stadium }}</em></h3>
                <ul>
                    <li>
                        <button ng-click="addEventPanel(match)" class="btn btn-link btn-sm">
                            <i class="fas fa-plus fa-sm">&ensp;</i>Dodaj wydarzenie
                        </button>
                    </li>
                    <li>
                        <button ng-click="editMatchPanel(match)" type="button" class="btn btn-icon btn-sm" title="Edytuj mecz">
                            <i class="fas fa-edit"></i>
                        </button>
                    </li>
                    <li>
                        <button ng-click="confirmDeleteMatch(match.Id)" type="button" class="btn btn-icon btn-sm" title="Usuń mecz">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="row center_bold_text padding justify-content-between" style="margin-bottom: 20px">
                    <div class="col-lg-4">{{ match.HostTeam.Name }}</div>
                    <div class="col-lg-auto">{{ match.HostTeam.Goals }} : {{ match.GuestTeam.Goals }}</div>
                    <div class="col-lg-4">{{ match.GuestTeam.Name }}</div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-4 center_text">
                        <p ng-repeat="event in match.HostTeam.Events">
                            <img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball.svg" ng-if="event.Type < 3"/>
                            <img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/yellow-card-right.svg" ng-if="event.Type === 3"/>
                            <img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/red-card-right.svg" ng-if="event.Type === 4"/>
                            <span>{{event.Player.FirstName + ' ' + event.Player.LastName + ' ' + event.Minute + '\''}}</span>
                            <span>{{event.Type === 1 ? '(K)' : event.Type === 2 ? '(GS)' : ''}}</span>
                            <button ng-click="editEventPanel(match, event)" type="button" class="btn btn-icon btn-sm float-right" title="Edytuj wydarzenie">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button ng-click="confirmDeleteEvent(event.Id)" type="button" class="btn btn-icon btn-sm float-right" title="Usuń wydarzenie">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </p>
                    </div>
                    <div class="col-lg-4 center_text">
                        <p ng-repeat="event in match.GuestTeam.Events">
                            <img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball.svg" ng-if="event.Type < 3"/>
                            <img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/yellow-card-right.svg" ng-if="event.Type === 3"/>
                            <img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/red-card-right.svg" ng-if="event.Type === 4"/>
                            <span>{{event.Player.FirstName + ' ' + event.Player.LastName + ' ' + event.Minute + '\''}}</span>
                            <span>{{event.Type === 1 ? '(K)' : event.Type === 2 ? '(GS)' : ''}}</span>
                            <button ng-click="editEventPanel(match, event)" type="button" class="btn btn-icon btn-sm float-right" title="Edytuj wydarzenie">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button ng-click="confirmDeleteEvent(event.Id)" type="button" class="btn btn-icon btn-sm float-right" title="Usuń wydarzenie">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>