<div ng-show="!isDataLoading">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ isFormAdd ? 'Dodaj nowe wydarzenie' : 'Edytuj wydarzenie'}}</h5>
        <div ng-click="cancel()" class="close">
            <span>&times;</span>
        </div>
    </div>
    <form class="form-group" ng-submit="confirm()">
        <div class="modal-body" id="modal-body">
            <div>
                <label class="form-label" for="matchId">Mecz</label>
                <input class="form-control" disabled type="text" ng-model="matchName" id="matchId" required/>
            </div>

            <div>
                <label class="form-label" for="playerId">Zawodnik</label>
                <select class="form-control" ng-model="e.PlayerId" id="playerId" required
                        ng-options="i.Id as label(i) for i in players | orderBy: ['TeamId', 'FirstName', 'LastName']">
                    <option value="" hidden disabled selected>Wybierz zawodnika</option>
                </select>
            </div>

            <div>
                <label class="form-label" for="type">Typ wydarzenia</label>
                <select class="form-control" ng-model="e.Type" id="type" required
                        ng-options="i.value as i.label for i in typesEvent">
                    <option value="" hidden disabled selected>Wybierz typ wydarzenia</option>
                </select>
            </div>

            <div>
                <label class="form-label" for="minute">Minuta</label>
                <input class="form-control" type="number" min="0" ng-model="e.Minute" id="minute" required/>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-light" type="button" ng-click="cancel()">Wróć</button>
            <button class="btn btn-info" type="submit">{{ isFormAdd ? 'Dodaj' : 'Edytuj'}}</button>
        </div>
    </form>
</div>

