<img ng-show="isDataLoading" class="center" src="/img/spinner.gif"/>

<div ng-show="!isDataLoading">
    <h2 class="title_with_add_btn">Tabela</h2>
    <button ng-click="addTeamPanel()" class="btn btn-icon add_btn" title="Dodaj drużynę"><i
            class="fas fa-plus fa-lg"></i></button>
    <hr/>
    <i ng-show="teams.length === 0">Brak zespołów w lidze</i>
    <table ng-show="teams.length > 0" class="table">
        <thead>
        <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Drużyna</th>
            <th scope="col">Punkty</th>
            <th scope="col">Zwycięstwa</th>
            <th scope="col">Remisy</th>
            <th scope="col">Porażki</th>
            <th scope="col">Bramki</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in teams | orderBy: ['-Points','-DifferenceGoals','-ScoredGoals','LostGoals'] track by $index">
            <td scope="row">{{ $index + 1 }}</td>
            <td>{{t.Name}}</td>
            <th>{{t.Points}}</th>
            <th>{{t.Won}}</th>
            <th>{{t.Draw}}</th>
            <th>{{t.Lost}}</th>
            <th>{{t.ScoredGoals + ':' + t.LostGoals}}</th>
            <td class="text-right">
                <button ng-click="detailsTeam(t.Id)" type="button" class="btn btn-icon text-success btn-sm"
                        title="Wyświetl skład drużyny">
                    <i class="fas fa-info"></i>
                </button>
                <button ng-click="editTeamPanel(t)" type="button" class="btn btn-icon text-info btn-sm"
                        title="Edytuj drużynę">
                    <i class="fas fa-edit"></i>
                </button>
                <button ng-click="confirmDeleteTeam(t.Id)" type="button" class="btn btn-icon text-danger btn-sm"
                        title="Usuń drużynę">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>