<div class="modal-header">
    <h5 class="modal-title" id="modal-title">{{ isFormAdd ? 'Dodaj nową drużynę' : 'Edytuj drużynę'}}</h5>
    <div ng-click="cancel()" class="close">
        <span>&times;</span>
    </div>
</div>
<form class="form-group" ng-submit="confirm()">
    <div class="modal-body" id="modal-body">
        <div>
            <label class="form-label" for="name">Nazwa</label>
            <input class="form-control" type="text" ng-model="t.Name" id="name" required />
        </div>

        <div>
            <label class="form-label" for="city">Miasto</label>
            <input class="form-control" type="text" ng-model="t.City" id="city" required />
        </div>

        <div>
            <label class="form-label" for="stadium">Stadion</label>
            <input class="form-control" type="text" ng-model="t.Stadium" id="stadium" required />
        </div>

        <div>
            <label class="form-label" for="coach">Trener</label>
            <input class="form-control" type="text" ng-model="t.Coach" id="coach" required />
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-light" type="button" ng-click="cancel()">Wróć</button>
        <button class="btn btn-info" type="submit">{{ isFormAdd ? 'Dodaj' : 'Edytuj'}}</button>
    </div>
</form>

