<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Potwierdzenie</h5>
    <div ng-click="cancel()" class="close">
        <span>&times;</span>
    </div>
</div>
<div class="modal-body" id="modal-body">
    Czy na pewno chcesz usunąć ten element?
</div>
<div class="modal-footer">
    <button class="btn btn-light" type="button" ng-click="cancel()">Wróć</button>
    <button class="btn btn-danger" type="button" ng-click="confirm()">Usuń</button>
</div>