<uib-tabset class="tabs" justified="true">
    <uib-tab index="0" heading="Najlepsi strzelcy">
        <scorers-table></scorers-table>
    </uib-tab>
    <uib-tab index="1" heading="Zdobywcy żółtych kartek">
        <yellow-cards-table></yellow-cards-table>
    </uib-tab>
    <uib-tab index="2" heading="Zdobywcy czerwonych kartek">
        <red-cards-table></red-cards-table>
    </uib-tab>
</uib-tabset>