<img ng-show="isDataLoading" class="center" src="/img/spinner.gif"/>

<div class="padding_tab_content" ng-show="!isDataLoading">
    <h2>Zdobywcy czerwonych kartek</h2>
    <hr/>
    <i ng-show="scorers.length === 0">Brak zawodników, którzy mają czerwone kartki</i>
    <table ng-show="scorers.length > 0" class="table">
        <thead>
        <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Piłkarz</th>
            <th scope="col">Drużyna</th>
            <th scope="col">Liczba czerwonych kartek</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in scorers track by $index">
            <td scope="row">{{ $index + 1 }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.team }}</td>
            <td><b>{{ s.goals }}</b</td>
        </tr>
        </tbody>
    </table>
</div>