<div class="modal-header">
    <h5 class="modal-title" id="modal-title">{{ isFormAdd ? 'Dodaj nowego zawodnika' : 'Edytuj zawodnika'}}</h5>
    <div ng-click="cancel()" class="close">
        <span>&times;</span>
    </div>
</div>
<form class="form-group" ng-submit="confirm()">
    <div class="modal-body" id="modal-body">
        <div>
            <label class="form-label" for="teamId">Drużyna</label>
            <input class="form-control" disabled type="text" ng-model="t.Name" id="teamId" required />
        </div>

        <div>
            <label class="form-label" for="firstName">Imię</label>
            <input class="form-control" type="text" ng-model="p.FirstName" id="firstName" required />
        </div>

        <div>
            <label class="form-label" for="lastName">Nazwisko</label>
            <input class="form-control" type="text" ng-model="p.LastName" id="lastName" required />
        </div>

        <div>
            <label class="form-label" for="number">Numer</label>
            <input class="form-control" unique-number="t.Players" type="number" min="1" max="99" ng-model="p.Number" id="number" required />
        </div>
        <div>
            <label class="form-label" for="position">Pozycja</label>
            <select class="form-control" ng-model="p.Position" id="position" required
                ng-options="i.value as i.label for i in positions">
                <option value="" hidden disabled selected>Wybierz pozycję</option>
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-light" type="button" ng-click="cancel()">Wróć</button>
        <button class="btn btn-info" type="submit">{{ isFormAdd ? 'Dodaj' : 'Edytuj'}}</button>
    </div>
</form>

